.faculty-card{
    max-width: 280px;
    width: 100%;
}

.faculty-img{
    width: 100%;
    height: auto;
    max-height: 200px;
}

.btn-primary{
    background-color: #89288f !important;
    border-color: #fff !important;
}

.btn-primary:hover{
    background-color: #ffffff !important;
    color: black !important;
}